.header{
    width: 100%;
    font-weight: 600;
    height: 40px;
    background-color: crimson;
    padding: 15px;
    .title{
        float: left;
        color: white;
        font-weight: bold;
    }
}